@use 'vars';

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin-top: 20px;
  width: 40%;
}

.link-return {
  text-decoration: none;
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--dark);
  color: var(--dark);
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  padding: 0 30px;
  margin-top: 20px;
}

.link-return h3 {
  display: inline-block;
}

